fastapi==0.115.12
uvicorn[standard]==0.52.4

sqlalchemy==2.0.40
psycopg2-binary==2.9.10

passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]==3.4.0

pydantic==2.11.3
email-validator==2.2.0
python-multipart==0.0.20

# Machine Learning / Computer Vision
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.8.0+cpu
torchvision==0.23.0+cpu
ultralytics==8.4.142
opencv-python
numpy
Pillow

# Reports
reportlab